@font-face {
   	font-family: 'DeutschGothic';
    src: url('/Fonts/deutsch-gothic.ttf');
}

body {
	background: black;
	margin: 0px;
	overflow: hidden;
	font-family: DeutschGothic, Arial, Helvetica, sans-serif;
	cursor: url("/Arts/cursor.png"), auto;
}
	
h1 {
	font-size: 60px;
}

#matrix-canvas {
 	position: absolute;
 	left: 0;
 	top: 0;
 	width: 100%;
	height: 100%;
}

.page404 {
	position: absolute;
	z-index: 10;
}

#page404-img-right {
	top: 0;
	right: 0;
}

#page404-img-left {
	top: 0;
	left: 0;
	transform: scale(-1, 1);
}

#page404-info {
	left: 10vw;
	right: 10vw;
	bottom: 7vh;
	color: rgb(255, 100, 0, 0.5);
	text-shadow: 0 0 2em rgba(255, 0, 0, 0.8);
}

.container {
	padding-left: 1em;
	padding-right: 1em;
	background: rgba(0, 100, 200, 0.3);
	box-shadow: 0 0 2em rgba(0, 100, 200, 0.7), inset 0 0 2em rgba(0, 100, 200, 0.7), 0 0 4em rgba(150, 0, 0, 0.7), 0 0 2em rgba(150, 0, 0, 0.7), inset 0 0 4em rgba(150, 0, 0, 0.7);
}

.glitch {
	position: relative;	
}

.glitch:after,
.glitch:before {
	color: rgb(255, 0, 0, 0.3);
	content: attr(data-glitch);
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}

.glitch:after {
	z-index: -2;
	animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse infinite;
}

.glitch:before {
	z-index: -1;
	animation: glitch 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes mental {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.7;
	}
	100% {
		opacity: 1;
	}
}

@keyframes glitch {
	0% {
		transform: translate(0);
		color: rgb(255, 0, 0, 0.3);
	}
	20% {
		transform: translate(-5px, 5px);
		color: rgba(255, 0, 0, 1);
	}
	40% {
		transform: translate(-5px, -5px);
		color: rgb(255, 0, 0, 0.3);
	}
	60% {
		transform: translate(5px, 5px);		
		color: rgb(255, 0, 0, 0.3);
	}
	80% {
		transform: translate(5px, -5px);
		color: rgba(255, 0, 0, 1);
	}
	100% {
		transform: translate(0);
		color: rgb(255, 0, 0, 0.3);
	}
}

.page500 {
	position: absolute;
	z-index: 10;
}

#page500-img-warrior {
	bottom: 0;
	left: 5vw;
}

#page500-img-blast {
	z-index: 5;
	left: -10vw;
	bottom: 0;
}

#page500-info {
	left: 30vw;
	right: 10vw;
	bottom: 20vh;
	color: rgb(200, 100, 200, 0.8);
	text-shadow: 0 0 2em rgba(255, 0, 0, 0.8), 0 0 3em rgba(255, 0, 0, 0.8), 0 0 2em rgba(255, 0, 0, 0.8);
}

.page500-anim {
	animation-name: dissapearring;
	animation-duration: 3s;
	animation-iteration-count: infinite;
}

@keyframes dissapearring {
	0% {
		opacity: 1;
	}

	40% {
		color: rgba(0, 100, 200, 0.3);
	}
	
	50% {
		opacity: 0;
	}

	60% {
		color: rgba(0, 100, 200, 0.3);
	}
	
	100% {
		opacity: 1;
	}
}

.unselectable {
	user-select: none;
}